<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<!-- three.js library -->
<script src='bulid/three.js'></script>
<script src="bulid/stats.js"></script>
<!-- ar.js -->
<script src="bulid/ar.js"></script>
<script src="bulid/PDBLoader.js"></script>
<script src="bulid/CSS2DRenderer.js"></script>
<script src="bulid/MTLLoader.js"></script>
<script src="bulid/OBJLoader.js"></script>

<style>
</style>
<body style='margin : 0px; overflow: hidden; font-family: Monospace;-webkit-transform:translate3d(0,0,0);'  ><div style='position: absolute; top: 10px; width:100%; text-align: center; z-index: 1;'>
	 
	<div id="Stats-output">
	</div>
	<a href="https://github.com/jeromeetienne/AR.js/" target="_blank">AR.js</a> - three.js camera transform
	<br/>
	Contact me any time at <a href='https://twitter.com/jerome_etienne' target='_blank'>@jerome_etienne</a>
</div>
<script>
        var obj;
	//fps监测
	    var stats = initStats();

	    //fps状态
	    function initStats() {
	        var stats = new Stats();
	        stats.setMode(0); // 0: fps, 1: ms

	        // Align top-left
	        stats.domElement.style.position = 'absolute';
	        stats.domElement.style.left = '0px';
	        stats.domElement.style.top = '0px';

	        document.getElementById("Stats-output").appendChild(stats.domElement);
	        return stats;
	    }

    // init renderer
    var renderer	= new THREE.WebGLRenderer({
        antialias: true,                                	//开启抗锯齿
        alpha: true                                      	//开启背景透明
    });
    renderer.setClearColor(new THREE.Color('lightgrey'), 0);
    renderer.setSize( window.innerWidth, window.innerHeight );
    renderer.domElement.style.position = 'absolute';
    renderer.domElement.style.top = '0px';
    renderer.domElement.style.left = '0px';
    document.body.appendChild(renderer.domElement);

    // array of functions for the rendering loop 呈现循环的函数数组
    var onRenderFcts= [];

    // 初始化场景和摄像机
    var scene	= new THREE.Scene();
    var light = new THREE.DirectionalLight(0xffffff,1.0);

    //位置不同，方向光作用于物体的面也不同，看到的物体各个面的颜色也不同
    //light.position.set(0,1,0.5 ).normalize();
	light.position.set(0,30,40);
    light.castShadow = true; // 启用阴影选项
    scene.add(light);

    //环境光设置
    var ambilight = new THREE.AmbientLight(0xffffff,0.2);
    scene.add(ambilight);

    // 初始化摄像机位置(0，0，0)
     camera=new THREE.Camera();
    scene.add(camera);

    // handle arToolkitSource
    var arToolkitSource = new THREEx.ArToolkitSource({})
    arToolkitSource.init(function onReady(){
        onResize()
    })

    // handle resize
    window.addEventListener('resize', function(){
        onResize()
    })
    function onResize(){
        arToolkitSource.onResize()
        arToolkitSource.copySizeTo(renderer.domElement)
        if( arToolkitContext.arController !== null ){
            arToolkitSource.copySizeTo(arToolkitContext.arController.canvas)
        }
    }


    //initialize arToolkitContext

    // create atToolkitContext
    var arToolkitContext = new THREEx.ArToolkitContext({
        cameraParametersUrl:  'data/camera_para.dat',
        detectionMode: 'mono',
    })

    // initialize it
    arToolkitContext.init(function onCompleted(){
        // copy projection matrix to camera
        camera.projectionMatrix.copy( arToolkitContext.getProjectionMatrix() );
    })

    // update artoolkit on every frame
    onRenderFcts.push(function(){
        if( arToolkitSource.ready === false )	return

        arToolkitContext.update( arToolkitSource.domElement )

        // update scene.visible if the marker is seen
        scene.visible = camera.visible

    })
    // init controls for camera
    var markerControls = new THREEx.ArMarkerControls(arToolkitContext,camera, {
        type : 'pattern',
        patternUrl : 'arcode/pattern-marker.patt',
        // patternUrl : THREEx.ArToolkitContext.baseURL + '../data/data/patt.kanji',
        // as we controls the camera, set changeMatrixMode: 'cameraTransformMatrix'
        changeMatrixMode: 'cameraTransformMatrix'
    })
        scene.visible = false;
//    scene.visible = false;

    onRenderFcts.push(function(delta){
//            if(obj)
//			{
//			    obj.rotation.y=+1;
//			}
    });


    //render the whole thing on the page

    // render the scene
    onRenderFcts.push(function(){
        renderer.render( scene, camera );
    });

    // run the rendering loop
    var lastTimeMsec= null
    requestAnimationFrame(function animate(nowMsec){
        // keep looping
        requestAnimationFrame( animate );
//        stats.update();
        // measure time
        lastTimeMsec	= lastTimeMsec || nowMsec-1000/60
        var deltaMsec	= Math.min(200, nowMsec - lastTimeMsec)
        lastTimeMsec	= nowMsec
        // call each update function
        onRenderFcts.forEach(
            function(onRenderFct){
            onRenderFct(deltaMsec/1000, nowMsec/1000)
        })
    })






        var onProgress = function ( xhr ) {

            if ( xhr.lengthComputable ) {

                var percentComplete = xhr.loaded / xhr.total * 100;

                console.log( Math.round(percentComplete, 2) + '% downloaded' );

            }

        };



        var onError = function ( xhr ) { };



//        THREE.Loader.Handlers.add( /\.dds$/i, new THREE.DDSLoader() );



        //var mtlLoader = new THREE.MTLLoader();

        //mtlLoader.setPath( 'obj/' );

        //mtlLoader.load( 'jj.mtl', function( materials ) {


        //    materials.preload();

        //   var objLoader = new THREE.OBJLoader();

        //    objLoader.setMaterials( materials );

        //    objLoader.setPath( 'obj/' );

        //    objLoader.load( 'jj.obj', function ( object ) {
//                object.position.y = - 95;
        //        obj=object;
        //        scene.add( object );
        //        object.position.set(0,0,0);
        //        object.scale.set(0.001,0.001,0.001);
        //        var axes=new THREE.AxisHelper(10);
        //        scene.add(axes);
        //    }, onProgress, onError );



        //});
          var loader = new THREE.PDBLoader(),root;
        loader.load("obj/H2O.pdb", function (pdb) {
        //创建一个模型组
        root = new THREE.Group();
        var offset = new THREE.Vector3();

        //获取到原子相关的数据
        var geometryAtoms = pdb.geometryAtoms;
        //获取到原子间的键的数据
        var geometryBonds = pdb.geometryBonds;
        //获取原子文字的数据
        var json = pdb.json;

        var boxGeometry = new THREE.BoxBufferGeometry( 1, 1, 1 );
        var sphereGeometry = new THREE.IcosahedronBufferGeometry( 1, 2 );

        //让模型居中
        geometryAtoms.computeBoundingBox();
        geometryAtoms.boundingBox.getCenter( offset ).negate();
        geometryAtoms.translate( offset.x, offset.y, offset.z );
        geometryBonds.translate( offset.x, offset.y, offset.z );

        //将原子和原子的文字添加到模型组当中
        var positions = geometryAtoms.getAttribute( 'position' );
        var colors = geometryAtoms.getAttribute( 'color' );
        var position = new THREE.Vector3();
        var color = new THREE.Color();
        for ( var i = 0; i < positions.count; i ++ ) {
            position.x = positions.getX( i );
            position.y = positions.getY( i );
            position.z = positions.getZ( i );
            color.r = colors.getX( i );
            color.g = colors.getY( i );
            color.b = colors.getZ( i );
            var material = new THREE.MeshPhongMaterial( { color: color } );
            var object = new THREE.Mesh( sphereGeometry, material );
            object.position.copy( position );
            object.position.multiplyScalar( 75 );
            object.scale.multiplyScalar( 25 );
            root.add( object );
            var atom = json.atoms[ i ];
            var text = document.createElement( 'p' );
            text.className = 'label';
            text.style.color = 'rgb(' + atom[ 3 ][ 0 ] + ',' + atom[ 3 ][ 1 ] + ',' + atom[ 3 ][ 2 ] + ')';
            text.style.textShadow = "1px 1px 1px #000";
            text.textContent = atom[ 4 ];
            var label = new THREE.CSS2DObject( text );
            label.position.copy( object.position );
            root.add( label );
        }

        //将原子之间的键添加到模型组当中
        positions = geometryBonds.getAttribute( 'position' );
        var start = new THREE.Vector3();
        var end = new THREE.Vector3();
        for ( var i = 0; i < positions.count; i += 2 ) {
            start.x = positions.getX( i );
            start.y = positions.getY( i );
            start.z = positions.getZ( i );
            end.x = positions.getX( i + 1 );
            end.y = positions.getY( i + 1 );
            end.z = positions.getZ( i + 1 );
            start.multiplyScalar( 75 );
            end.multiplyScalar( 75 );
            var object = new THREE.Mesh( boxGeometry, new THREE.MeshPhongMaterial( 0xffffff ) );
            object.position.copy( start );
            object.position.lerp( end, 0.5 );
            object.scale.set( 5, 5, start.distanceTo( end ) );
            object.lookAt( end );
            root.add( object );
        }

        //缩放并将模型组添加到场景当中
        root.scale.set(0.01, 0.01, 0.01);
        scene.add(root);
    });
    //自动旋转
    var t=0;
    function loop(){
     t++;
     renderer.clear();
     //root.rotation.set(0,0,t/100);
     camera.position.x = 400*Math.cos(t/100);
     camera.position.y = 400*Math.sin(t/200);
     camera.position.z = 50*Math.cos(t/100);
     camera.lookAt( {x:0, y:0, z:0 } );
     renderer.render(scene,camera);
     window.requestAnimationFrame(loop);
    }
    loop();
</script></body>
