@font-face {
    font-family: "happy_font";
    src: url("happy_font.eot"); /* IE9 */
    src: url("happy_font.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("happy_font.woff") format("woff"), /* chrome、firefox */
    url("happy_font.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("happy_font.svg#happy_font") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


